body{
  background-color: #040A14;
}

@keyframes slideIn {
  0% {
    transform: translateX(-10px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.group-hover\:left-8 {
  animation: slideIn 0.3s forwards;
}